@import "mixins";

$backgColor: rgba(255, 255, 255, 0.5);
$borderColor: rgba(255, 255, 255, 0.8);
$activeColor: rgba(66,170,255);
$button_width: 100px;
$button_height: 55px;
$button_borderRad: 15px;

@font-face {
    font-family: 'MyCustomFont';
    src: url('../font/SegoeUIVF.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

*{
    font-family: 'MyCustomFont';
}


.mainViewWork{
    width: 100vw;
    height: 100vh;
    background-image: url("../src/images/workzone_backgrimage.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
}

.workzone{
    display: flex;
    background-color: $backgColor;
    width: 85vw;
    height: 150vh;
    border-radius: 70px;
    margin-top: 60px;
    flex-direction: column;
}

.workzone .header{
    display: flex;
    background-color: white;
    height: 253px;
    flex-direction: column;
    width: 100%;
    margin-top: -70px;
}

.workzone .header .headerContents{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    gap: 10px;
    margin-top: 85px;
    font-size: 22px;
}

.workzone .header .exitIcon{
    margin-top: 3px;
    cursor: pointer;
    background: none;
    border: none;
    font-size: 22px;
    margin-right: 20px;
}

.workzone #tasks{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin-top: 2px;
    height: 55px;
}


.workzone .header .tabs{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 14px;
}

.workzone .header .tabs .tabsButtons{
    border: none;
    font-size: 22px;
    width: 100%;
    background-color: #bbbbbb;
    cursor: pointer;
    line-height: 25px;
    padding: 7px;
}

.workzone .header .tabs #activeButton{
    background-color: $activeColor;
    border: none;
    margin-top: -6px;
    transition: margin-top 0.5s;
}


.workzone .body{
    height: 100%;
    width: 85vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: auto;
    margin-top: -15px;
}

.workzone .body .post{
    width: 95%;
    display: flex;
    padding: 15px;
    border: 2px solid teal;
    margin-top: 15px;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    border: none;
}

.workzone .body .post{
    cursor: pointer;
}

.workzone .body .postHelper{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: -20px;
    gap: 5px;
}

.difficulty{
    margin-left: 20px;
}

.starIcon{
    color: gold;
}

.postHelper button{
    align-self: flex-end;
    background: none;
    border: 1px solid black;
    text-align: center;
    cursor: pointer;
    width: 3vw;
    height: 25px;
    border-radius: 9px;
}

.plusTask{
    background-color: white;
    width: 65px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    font-size: 30px;
    margin-top: 30px;
    cursor: pointer;
    margin-left: 50px;
    align-self: flex-start;
}

.modalContent{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.modalContent button{
    width: $button_width;
    height: $button_height;
    border-radius: $button_borderRad;
    background-color: #70b1ff;
    border: none;
    color: white;
    font-size: 20px;
}

.modalForm{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
}

textarea{
    @include inputs;
    height: 155px;
}

.addTaskButton{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.workzone .body .postlist{
    display: flex;
    flex-direction: column;
    width: 83vw;
    margin-left: 40px;
    height: 65vh;
}

.wrapper{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.wrapper .wrapperItem{
    border: 2px solid black;
    width: 20px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
}

#activePage{
    border-color: blue;
}